html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(218 216 216);
    text-shadow: 1px 1px #000000;
}

a:hover {
    color: rgba(255, 4, 4, 0.455);
    text-shadow: 1px 1px #3d0000;
}

h3 {
    border-bottom: 1.75px solid #bf0505;
    padding-top: 4px;
    width: 18em;
    padding-left: 2px;
    padding-bottom: 4px;
    margin-bottom: 1em;
    color: #2c2c30;
}

.button {
    background-color: #B5BDC6;
    border: none;
    height: 33px;
    width: 80px;
    border-radius: 7%;

    box-shadow: 1.5px 2.5px #1d1d5e;
}

.button:hover {
    background-color: rgba(52, 19, 146, 0.9);
    color: white;
    box-shadow: none;
}

body {
    background-image: url(./img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

footer {

    width: 100%;
    align-items: center;
    text-align: center;
    color: rgb(131 8 26 / 90%);
    text-shadow: 2px 2px 5px rgb(27 26 26 / 55%);
    font-size: larger;
}

#footerName {
    color: rgb(120 118 126 / 80%);
}

#footerName:hover {
    color: rgba(51, 5, 176, 0.9);
    text-shadow: 1px 1px #000000bc;
}

/*HEADER*/
#header {
    background-color: rgb(17 0 65 / 90%);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo img {
    height: 5.5em;
}

#logo {
    margin-left: 2em;
    margin-top: 0.3em;
}

#menuDesp {
    position: absolute;
    top: 5.8em;
    left: 87em;
}

#menuDesp summary {
    text-align: right;
}

#menuDesp details {
    display: inline-block;
}

#menuDesp details[open] {
    position: relative;
    left: -23em;
    top: 4.3em;
    border-radius: 0% 0% 6% 6%;
    padding: 8px;
    width: 26em;
    padding-top: 0px;
    box-shadow: 2.5px 4px #80808057;
    background-color: rgb(143 144 191);
    z-index: 1;
}

/**No se como retrasar el efecto del click en la imagen que despliega el details, la animacion funciona, le di delay de mas para ver si surtia efecto, y nada**/
details img :active {
    animation-name: desaparece;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-iteration-count: 1;
}

@keyframes desaparece {

    0% {
        margin-top: 0em;
        opacity: 1;
    }

    100% {
        margin-top: 2em;
        opacity: 0;
    }
}

#menuDesp details[open] img {
    display: none;
}

#menuDesp details[open] form {
    display: grid;
    grid-row-gap: 1em;
}

#menuDesp img {
    height: 65px;
    width: 66px;
    padding-top: 3px;
}

details[open]>summary:first-of-type {
    list-style-type: "\27F0";
    font-size: 25px;
    position: relative;
    left: -0.5em;
}

details>summary:first-of-type {
    list-style-type: none;
}

#emailAddress {
    width: 30.5em;
}

#message {
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #bf050576;
    box-shadow: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 5px;
    height: 3.5em;
    border-radius: 0px;
    width: 30.3em;
}

#message:focus {
    border: 2px solid #bf050576;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.emailCheck {
    color: rgba(41, 41, 41, 0.818);
}

#menuDespButton {
    display: flex;
    justify-content: center;
}

#contactButton {
    height: 23px;
    font-size: 12px;
    font-weight: 500;
    width: 109px;
    border-radius: 9%
}

/*Barra de navegacion*/
#links {
    display: flex;
    background: linear-gradient(to top, #b7bcbf, rgb(17 0 65 / 90%));
    border-bottom: #808080a3 inset 0.4px;
    height: 4em;
    align-items: center;
}

#links ul {
    animation-name: apareceDerecha;
    animation-duration: 1.7s;
    /* animation-delay: 3s; */
    animation-iteration-count: 1;
}

@keyframes apareceDerecha {

    /* al definir los keyframes de la animación también la otorgamos un nombre*/
    0% {
        margin-left: -47em;
    }

    100% {
        margin-left: 0em;
    }
}

#links li {
    list-style: none;
    display: inline;
    margin-left: 75px;
    margin-right: 22px;
    padding: 14px;
}

#links li:hover {
    border-bottom: 1px solid rgba(255, 4, 4, 0.455);
}

#links h3 {
    display: none;
}

/*Boton de subir*/
#botonUp {
    display: none;
}

/*formato input*/
.input {
    background-color: transparent;
    outline: none;
    border-top: none;
    padding: 3px;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #bf050576;

}

.input:focus {
    border: 2px solid #bf050576;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px
}

.input:hover {
    border-bottom-color: rgba(34, 4, 118, 0.9);
    ;
}

/*Formato para los placeholders en opera, chrome...*/
::placeholder {
    font-family: 'Roboto', sans-serif;
    color: rgba(41, 41, 41, 0.818);
    font-size: 17px;

}

/*Formato para los placeholders Microsoft Edge*/
::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: rgba(41, 41, 41, 0.818);
    font-size: 17px;
}

#subtitle {
    margin-top: 8px;
    margin-left: 31em;
    display: flex;
    align-items: center;
    height: 3em;
    backdrop-filter: blur(1px);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px #b4b3b9;
    background: #625B7F;
    color: #e4e4e4;
    text-shadow: 1.1px 1.1px #000000c7;
}

#header-top {
    display: flex;
    align-items: center;
    width: 100%;
}

#user-icon {
    position: relative;
    left: 38.4em;
}

/*Contenido principal*/


#princContent {
    display: grid;
    place-items: center;
    margin: 34px;
    margin-top: 1.2em;
    row-gap: 1.1em;
    margin-bottom: 1em;
    animation-name: aparece;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}

@keyframes aparece {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#descript-text {
    background-color: rgba(197, 197, 197, 0.411);
    border-radius: 4px;
    text-align: justify;
    line-height: 122%;
    padding: 0.7em;
}

#descript-text * {
    text-align: justify;
    word-spacing: 0.5px;
    line-height: 122%;
    margin-bottom: 0.3em;
    width: 44em;
}

.negrita {
    font-weight: 700;
}

.cursiva {
    font-style: italic;
}

.pequeña {
    font-size: x-small;
}

.letrarara {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subrayada {
    text-decoration: underline;
}

.tachada {
    text-decoration: line-through;
}

#video {
    border-top: 1.75px solid #bf0505;
}

iframe {
    border: 4px double #7A7A7A;
}